/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&family=Poppins:wght@500&display=swap');
/* font-style */


/*--------------
 Common Styles
 --------------- */
.top-heading{
    margin-bottom: 100px;
    margin-top: 0%;
    padding-left: 40px;
}

 body{
     font-family: 'Playfair Display', serif;
     /* padding: 100px; */
 }
 body .money-details, .rating{
font-family: 'Open Sans', sans-serif;

 }

 .First-Part{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-column-gap: 120px;    
 }


 /* ---------------------
 First-Part-styles
 ------------------------ */
 .First-Part{
     margin-bottom: 50px;
     justify-content: center;
     align-items: center;
     padding-left: 40px;
 }
.First-line{
    font-size: 52px;
    font-weight: 700;
    width: 582px;
    height: 133px;
    justify-content: center;

}
.First-Paragraph{
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 59, 70, 0.877);
    width: 505px;
    height: 60.9;
}
.journey-influencer{
    margin-bottom: 200px;
}
.journey-influencer a{
    text-decoration:none;
    font-weight: 700;
    background-color: rgb(19, 204, 204);
    width: 120px;
    height: 30px;
    padding: 8px;
    border-radius: 15px;
}
.journey-influencer a:hover{
    color: crimson;
}
.main-photo img{
    width: 440px;
    height: 414px;
    border-radius: 10px;

}

.main-photo img:hover{
    transform: scale(1.2);
    transition: transform 1s ease-in;
}


hr{
    border: 2px solid darkgrey;
    margin: 80px,150px;   
}

/* -----------------
logos-styles-part 
--------------------*/
.logos{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 30px 30px;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}

/* logos-styles-part */


/* Second-Section-Part */
.collections{
    background-color: rgba(255, 255, 255, 0.356);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 20 50px;
    /* padding: 10px; */
    /* height: 1662px; */
    /* padding: 15px;
    margin-bottom: 10%; */
    
    
}
.second-heading{
    padding-left: 470px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2em;
}
.collections-items{
    border: 1px solid rgb(255, 252, 253);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    width: 329px;
    height: 500px;
    border-radius: 10px;

}
.item-1 img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.stars{
    display: inline;    
}
.stars i{
    color: orange;
}
.flex-head{
    width: 151px;
    height: 40px;
}
.money-details{
    width: 82px;
    height: 36px ;
}
.rating{
    padding-left: 10px;
}
.item-details p{
    width: 196px;
    height: 61px;
    font-weight: 700;
    font-size: 14px;
}

.collection-profile{
    margin: 20px;
}


.collection-profile a{
    text-decoration: none;
    color: red;
    margin: 20px 20px;
}
footer{
    background-color: rgb(18, 1, 34);
    width: 100%;
    color: whitesmoke;
    height: 150px;
    text-align: center;
    padding-top: 30px;
}
.copywrite{
    align-items: center;
    padding: 20px;
}
